
/* Your CSS Code here. */
.col-sm-1>img{
	width: 100px;
	height: 100px;
	
}
.col-sm-2>img{
	width: 100px;
	height: 100px;
}
.col-sm-4>img{
	width: 100px;
	height: 100px;
}
.col-sm-12>img{
	width: 100px;
	height: 100px;
}